body{
	background-color: white;
	font-family: times new roman;
    font-style: normal;
}
h1, h2{
	color: #ffda96;
	margin: 10px;
}
p{
    color: #ffa496;
    margin: 10px;
}
        
li{
    color: #96c4ff;
    margin: 10px;
}
