*{
  margin: 0;
  padding: 0;
}
body{
  font-family: times;
}
h1{
	float: left;
}
.row{
	max-width: 1300px;
	margin: left;
}
.nav1{
	float: left;
	list-style: none;
	margin-top: 50px;
}
.nav1 li{
	background-color: white;
}
.nav1 li.active a{
	border: 2px solid black;
	background-color: white;
}
.nav1 li.disabled a{
	color: currentColor;
	cursor: not-allowed;
	opacity: 0.5;
	text-decoration: none; 
  background-color: white;
}
.nav1 li a:hover{
	border: 2px solid black;
  background-color: white;
}
.nav1 li a{
	float: left;
  color: black;
  text-decoration: none;
  padding: 5px 20px;
  font-family: times;
  font-size: 15px;
  border: 2px solid white;
  background-color: white;
}
.black{
  list-style: none;
  background-color: white;
  width: 800px;
  margin-left: 186px;
  margin-top: 350px;
}
hr{
  margin-left: 186px;
  width: 800px;
}
#sketch{
  padding: 0;
  margin: auto;
  display: block;
  width: 800px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index:-1;
}
footer{
	position: absolute;
	bottom: 0;
	width: 15%;
	height: 2.5rem;
	background-color: white;
}
iframe{
  margin-left: 250px;
}
table{
  border: 2px dotted black;
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  empty-cells: hide;
  }
td th{
  width: 15%;
}
th{
  border: 1px solid black;
}
td{
  border: 1px solid black;}
tbody th{
  text-align: left;
}
tbody td{
  text-align: left;
}
caption{
  caption-side: top;
  text-align: center;
  font-size: x-large;
  font-style: italic;
}
